<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
</head>
<body>
<h1>Add new User</h1>
<form method="post", action="/registration">
    Name: <input type="text" name="name">
    <br>
    <br>
    Password: <input type="text" name="password">
    <br>
    <br>
    Last Name: <input type="text" name="lastName">
    <br>
    <br>
    Email: <input type="email" name="email">
    <br>
    <br>
    Age: <input type="number" name="age">
    <br>
    <br>
    Role: <input type="text" name="role">
    <br>
    <br>
    <input type="submit" name="Add"/>
</form>
<a href="/login">Login Page</a>
</body>
</html>